
if SHIELD_skree_LEFT

config ZMK_KEYBOARD_NAME
    default "skree"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_skree_LEFT

if SHIELD_skree_LEFT || SHIELD_skree_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_skree_LEFT || SHIELD_skree_RIGHT
